In [1]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('hitmap.csv')

In [26]:
df.time = pd.to_datetime(df['time'])

In [27]:
df

         uuid    weekday  hour  count    max  mean                time
0    Device_1     Friday     8      3   0.51  0.17 2019-11-22 08:41:00
1    Device_1     Friday    13      7   2.70  0.81 2019-11-22 13:05:00
2    Device_1     Friday    15     60   3.05  1.41 2019-11-22 15:12:00
3    Device_1     Friday    16     25   4.20  1.76 2019-11-22 16:52:00
4    Device_1     Monday     8     17   2.36  1.44 2019-11-22 08:41:00
..        ...        ...   ...    ...    ...   ...                 ...
266  Device_5  Wednesday    17     24  12.13  0.85 2019-11-22 17:20:00
267  Device_5  Wednesday    18     78  15.27  4.06 2019-11-22 18:00:00
268  Device_5  Wednesday    19     21   0.00  0.00 2019-11-22 19:03:00
269  Device_5  Wednesday    20     53  15.21  6.65 2019-11-22 20:00:00
270  Device_5  Wednesday    21     10   0.00  0.00 2019-11-22 21:02:00

[271 rows x 7 columns]

In [28]:
df['day'] = df['time'].dt.dayofweek

In [20]:
df

         uuid    weekday  hour  count    max  mean                time  day
0    Device_1     Friday     8      3   0.51  0.17 2019-11-22 08:41:00    4
1    Device_1     Friday    13      7   2.70  0.81 2019-11-22 13:05:00    4
2    Device_1     Friday    15     60   3.05  1.41 2019-11-22 15:12:00    4
3    Device_1     Friday    16     25   4.20  1.76 2019-11-22 16:52:00    4
4    Device_1     Monday     8     17   2.36  1.44 2019-11-22 08:41:00    4
..        ...        ...   ...    ...    ...   ...                 ...  ...
266  Device_5  Wednesday    17     24  12.13  0.85 2019-11-22 17:20:00    4
267  Device_5  Wednesday    18     78  15.27  4.06 2019-11-22 18:00:00    4
268  Device_5  Wednesday    19     21   0.00  0.00 2019-11-22 19:03:00    4
269  Device_5  Wednesday    20     53  15.21  6.65 2019-11-22 20:00:00    4
270  Device_5  Wednesday    21     10   0.00  0.00 2019-11-22 21:02:00    4

[271 rows x 8 columns]

In [22]:
df['nday'] = pd.to_datetime(df['time']).apply(lambda x: x.weekday())

In [23]:
df

,uuid,weekday,hour,count,max,mean,time,day,nday
0,Device_1,Friday,8,3,0.51,0.17,2019-11-22 08:41:00,4,4
1,Device_1,Friday,13,7,2.70,0.81,2019-11-22 13:05:00,4,4
2,Device_1,Friday,15,60,3.05,1.41,2019-11-22 15:12:00,4,4
3,Device_1,Friday,16,25,4.20,1.76,2019-11-22 16:52:00,4,4
4,Device_1,Monday,8,17,2.36,1.44,2019-11-22 08:41:00,4,4
...,...,...,...,...,...,...,...,...,...
266,Device_5,Wednesday,17,24,12.13,0.85,2019-11-22 17:20:00,4,4
267,Device_5,Wednesday,18,78,15.27,4.06,2019-11-22 18:00:00,4,4
268,Device_5,Wednesday,19,21,0.00,0.00,2019-11-22 19:03:00,4,4
269,Device_5,Wednesday,20,53,15.21,6.65,2019-11-22 20:00:00,4,4
270,Device_5,Wednesday,21,10,0.00,0.00,2019-11-22 21:02:00,4,4

In [24]:
df.dtypes

uuid               object
weekday            object
hour                int64
count               int64
max               float64
mean              float64
time       datetime64[ns]
day                 int64
nday                int64
dtype: object